@use "gallery/calligraphy";

.gallery-header-bar {
  text-align: center;
  padding-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
    font-family: "DMSerifDisplay", serif;
    margin-bottom: 16px;
  }
  h2 {
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 0;
  }
}

.title-with-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--global-text-color);
}

.title-with-line::before,
.title-with-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--global-divider-color);
}

.gallery-section {
  margin-top: 3rem;
  border-radius: 1em;
}

.serial-num {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "PinyonScript", serif;
}

.section-title {
  font-style: normal;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.description {
  font-size: 1.1em;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
}