@use "variables" as v;

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

// .gallery_container {
//   max-width: v.$max-content-width;
// }

.logo-marquee-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo-marquee {
  // border: 1px solid black;
  width: 100%;
  // margin-top: 1em;
  display: flex;

  overflow-x: auto;
}

.logo-marquee::-webkit-scrollbar {
  display: none;
}

.logo-marquee-track {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;

  animation: scrollLeft 40s linear infinite;
  animation-direction: var(--direction);
}

.logo-marquee-item {
  flex: 0 0 5em;
  width: 80px;
  height: 80px;
  // background-color: rgba(255, 0, 0, 0.212);
  text-align: center;
  align-content: center;
}

.logo-marquee-item img {
  height: 72px;
  width: auto;
}

@keyframes scrollLeft { 
  from { 
    translate: 0; 
  }
  to { 
    translate: -100%; 
  } 
}